In [268]:
import numpy as np
import pandas as pd
import matplotlib; matplotlib.style.use('ggplot')
import matplotlib.pyplot as plt

In [269]:
%matplotlib inline

In [270]:
govt_data = pd.read_csv("govtData.csv")

In [271]:
govt_data.head()

,Affected States/UTs,2010,2010.1,2011,2011.1,2012,2012.1,2013,2013.1,2014,2014.1,2015(Prov.),2015(Prov.).1,2016*,2016*.1
0,C/D,C,D,C,D,C,D,C,D,C,D,C,D,C,D
1,Andhra Pradesh,776,3,1209,6,2299,2,910,1,1262,5,3159,2,3376,2
2,Arunachal Pradesh,0,0,0,0,346,0,0,0,27,0,1933,1,13,0
3,Assam,237,2,0,0,1058,5,4526,2,85,0,1076,1,5715,4
4,Bihar,510,0,21,0,872,3,1246,5,297,0,1771,0,1911,0

In [272]:
govt_data = govt_data.set_index("Affected States/UTs")

In [273]:
govt_data.T["C/D"].values

array(['C', 'D', 'C', 'D', 'C', 'D', 'C', 'D', 'C', 'D', 'C', 'D', 'C', 'D'], dtype=object)

In [274]:
causeOrDeath = govt_data.T["C/D"].values
govt_data = govt_data[(govt_data["2010"] !="C").values]

In [275]:
govt_data.columns = pd.MultiIndex.from_tuples(zip(govt_data.columns, causeOrDeath))

In [276]:
govt_data.head()

,2010,2010.1,2011,2011.1,2012,2012.1,2013,2013.1,2014,2014.1,2015(Prov.),2015(Prov.).1,2016*,2016*.1
,C,D,C,D,C,D,C,D,C,D,C,D,C,D
Affected States/UTs,,,,,,,,,,,,,,
Andhra Pradesh,776,3,1209,6,2299,2,910,1,1262,5,3159,2,3376,2
Arunachal Pradesh,0,0,0,0,346,0,0,0,27,0,1933,1,13,0
Assam,237,2,0,0,1058,5,4526,2,85,0,1076,1,5715,4
Bihar,510,0,21,0,872,3,1246,5,297,0,1771,0,1911,0
Chattisgarh,4,0,313,11,45,0,83,2,440,9,384,1,355,0

In [277]:
a =govt_data.columns.levels[0].get_values()

In [278]:
a = pd.Series(a).str.replace(r'\.1', '').str.replace(r'\D+', '')

In [279]:
govt_data.columns = pd.MultiIndex.from_tuples(zip(a.get_values(), causeOrDeath))

In [280]:
govt_data.head()

                    2010     2011      2012     2013     2014     2015     \
                       C  D     C   D     C  D     C  D     C  D     C  D
Affected States/UTs
Andhra Pradesh       776  3  1209   6  2299  2   910  1  1262  5  3159  2
Arunachal Pradesh      0  0     0   0   346  0     0  0    27  0  1933  1
Assam                237  2     0   0  1058  5  4526  2    85  0  1076  1
Bihar                510  0    21   0   872  3  1246  5   297  0  1771  0
Chattisgarh            4  0   313  11    45  0    83  2   440  9   384  1

                     2016
                        C  D
Affected States/UTs
Andhra Pradesh       3376  2
Arunachal Pradesh      13  0
Assam                5715  4
Bihar                1911  0
Chattisgarh           355  0

In [281]:
govt_data = govt_data[govt_data.columns].astype(int)

In [282]:
govt_data.columns = govt_data.columns.swaplevel(0, 1)
govt_data.sortlevel(0, axis=1, inplace=True)
govt_data.head()

                       C                                        D            \
                    2010  2011  2012  2013  2014  2015  2016 2010 2011 2012
Affected States/UTs
Andhra Pradesh       776  1209  2299   910  1262  3159  3376    3    6    2
Arunachal Pradesh      0     0   346     0    27  1933    13    0    0    0
Assam                237     0  1058  4526    85  1076  5715    2    0    5
Bihar                510    21   872  1246   297  1771  1911    0    0    3
Chattisgarh            4   313    45    83   440   384   355    0   11    0


                    2013 2014 2015 2016
Affected States/UTs
Andhra Pradesh         1    5    2    2
Arunachal Pradesh      0    0    1    0
Assam                  2    0    1    4
Bihar                  5    0    0    0
Chattisgarh            2    9    1    0

In [283]:
total = govt_data.loc('Total')

In [284]:
govt_data= govt_data.drop(['Total'])

In [285]:
total.get_values()

AttributeError: '_LocIndexer' object has no attribute 'get_values'

In [ ]:
govt_data['C'].plot()

In [ ]:
govt_data.tail()

In [ ]:
govt_data['D'].plot(figsize=(12,8))

In [ ]:
govt_data['D'].boxplot()